<!DOCTYPE html>
<html ng-app='dllApp'>
<head>
	<title></title>

</head>
<body>

<!-- Here we have Just talk view -->
<div ng-controller="jController">
<h1>We have {{sessions.length}} Just Talks Sessions @ DLL Centre</h1>
<ul>
 <li ng-repeat="session in sessions">
{{session.name}}
</li>
</ul>
<form ng-submit="createSession()">
 <!-- Two-way binding -->
<input type="text" placeholder="session name" ng-model="sessionName">
<button type="submit">Add</button>	

</form>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers/justTalk-controller.js"></script>



</body>
</html>